<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
    <ul class="nav navbar-nav navbar-right">
		<li><a href="#profil"><strong>PROFIL</strong></a>
		</li>
		<li><a href="#exams"><strong>EXAMENS</strong></a>
		</li>
		<li><a href="#services"><strong>SERVICES</strong></a>
		</li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- Full Page Image Header Area -->
    <div id="profil" class="header">
        <div class="vert-text">
            <h1 id="notice"><%= notice %></h1>
			<h3>
				<strong>Name:</strong>
				<%= @client.name %>
			</h3>
			<h3>
				<strong>Email:</strong>
				<%= @client.email %>
			</h3>
			<%= link_to 'EDIT', edit_client_path(@client), :class=>"btn btn-default btn-lg" %> 
			<%= link_to 'BACK', clients_path, :class=>"btn btn-default btn-lg" %>
        </div>
    </div>
<!-- /Full Page Image Header Area -->

<!-- Intro -->
    <div id="exams" class="intro">
        <div class="container">
        	<div class="row">
	            <div class="col-md-4 col-md-offset-4 text-center">
	                <h2>Examens</h2>
	                <hr>
	            </div>
	        </div>
            <div class="row">
                <div class="col-md-6 text-center">
                	<%= image_tag(Gchart.pie( :size => '340x260', 
			            :bg => 'efefef',
			            :data => [10, 20, 30, 40]),
			            :class => "img-thumbnail" 
			            )%>
				</div>
	            <div class="col-md-6 text-center">
                	<%= image_tag(Gchart.pie( :size => '340x260', 
			            :bg => 'efefef',
			            :data => [10, 20, 30, 40]),
			            :class => "img-thumbnail" 
			            )%>
				</div>
            </div>
			<div class="row">
                <div class="col-md-6 text-center">
                	<%= image_tag(Gchart.pie( :size => '340x260', 
			            :bg => 'efefef',
			            :data => [10, 20, 30, 40]),
			            :class => "img-thumbnail" 
			            )%>
				</div>
	            <div class="col-md-6 text-center">
                	<%= image_tag(Gchart.pie( :size => '340x260', 
			            :bg => 'efefef',
			            :data => [10, 20, 30, 40]),
			            :class => "img-thumbnail" 
			            )%>
				</div>
            </div>
        </div>
    </div>
<!-- /Intro -->

<!-- Services -->
<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>Services</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-rocket"></i>
                    <h4>Spacecraft Repair</h4>
                    <p>Did your navigation system shut down in the middle of that asteroid field? We can repair any dings and scrapes to your spacecraft!</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-magnet"></i>
                    <h4>Problem Solving</h4>
                    <p>Need to know how magnets work? Our problem solving solutions team can help you identify problems and conduct exploratory research.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-shield"></i>
                    <h4>Blacksmithing</h4>
                    <p>Planning a time travel trip to the middle ages? Preserve the space time continuum by blending in with period accurate armor and weapons.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="service-icon fa fa-pencil"></i>
                    <h4>Pencil Sharpening</h4>
                    <p>We've been voted the best pencil sharpening service for 10 consecutive years. If you have a pencil that feels dull, we'll get it sharp!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Services -->

    

    

<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});
</script>
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});
</script>
<script>
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 500);
                return false;
            }
        }
    });
});
</script>
